{% for net in socialData %}
    <div class="social">
        <a href="{{net.url}}" target="_blank" rel="noreferrer">
            <img src="/assets/images/{{ net.social}}.svg" alt="{{net.social}} icon for {{ net.user }}" class="social-img w-10 opacity-30">
        </a>

    </div>
{% endfor %}