{% for net in socialData %}
     {% set svgPath = ['../../assets/images/', net.social, '.svg' ]%}
    <div class="social">
        <a href="{{net.url}}" target="_blank" rel="noreferrer" class="social-a w-10">
             {% include svgPath | join("") %}
        </a>
    </div>
{% endfor %}
