    <div class="footer">
        <p class="text-center">
            ⚡️with <a class="text-gradient font-bold" href="https://www.11ty.dev/" target="_blank" rel="noreferrer">11ty</a>
        </p>
    </div>
</body>
</html>