@import url("./text.css");
@import url("./title.css");
@import url("./vars.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    grid-template-rows: 1fr min-content;
    color: var(--some-black);
}
.container {
    max-width: 800px;
    margin-top: 15vh;
}
.profile-image {
    min-width: 8rem;
}
.profile-subtitle {
    font-size: 1.75rem;
}
.social-container {
    grid-template-columns: repeat(auto-fit, minmax(52px, 1fr));
    margin-top: 7vh;
}
.social-a svg {
    width: 52px;
    height: 52px;
    transition: 0.3s ease;
}
.social-a svg:hover {
    opacity: 0.6;
}
@media screen and (min-width: 600px) {
    .profile-container {
        grid-template-columns: 30% auto;
        justify-items: start;
    }
    .profile-container-name {
        margin-left: 1.5rem;
    }
    .profile-container-name h1, .profile-container-name h2 {
        text-align: left;
    }
}
