@import url("./text.css");
@import url("./profile-photo.css");
@import url("./title.css");
@import url("./vars.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    grid-template-rows: 1fr min-content;
    color: var(--some-black);
}
.container {
    max-width: 700px;
    margin-top: 15vh;
}
.profile-subtitle {
    font-size: 1.75rem;
}
.social-container {
    grid-template-columns: repeat(auto-fit, minmax(52px, 93px));
    grid-auto-rows: 93px;
    justify-content: space-evenly;
    margin-top: 7vh;
    height: 93px;
}
.social-a svg {
    width: 52px;
    height: 52px;
    transition: 0.1s ease;
}
.social-a:hover svg{
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 720px) {
    .profile-container-name {
        margin-left: 1.5rem;
    }
    .profile-container-name h1, .profile-container-name h2 {
        text-align: left;
    }
}
