---
title: Bertha Torres web
description: web page presentation tatoberres
layout: "base.njk"
---
<img src="/assets/images/btorres.jpg" alt="profile image">
<h1>Bertha Torres</h1>
<h2>jr fullstack web dev</h2>
<div class="social-container">
    {% include 'components/social.njk' %}
</div>

